.garden {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.garden-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid 1px; */
  padding-top: 30px;
}
.garden-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* border: solid 1px; */
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  padding: 2px;
  width: auto;
}
.garden-tracker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* border: solid 1px; */
  padding: 2px;
}
.garden-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid 1px; */
  padding: 2px;
}

.garden-img {
  width: 200px;
}

.garden-care {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid 1px; */
  padding: 2px;
  width: 550px;
}

.garden-care-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: solid 1px; */
  padding: 5px;
  width: 400px;
}

.garden-care-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid 1px; */
  border-radius: 10px;
  background-color: #f1eedc;
  padding: 5px;
  height: auto;
  width: 95%;
}
.logo {
  width: 200px;
  padding: 10px;
}

@media screen and (max-width: 430px) {
  .garden-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
    height: auto;
  }
  .garden-care-header {
    width: 90%;
  }
  .garden-care {
    flex-direction: column;
    width: 99%;
    height: auto;
  }

  .garden-care-content {
    flex-direction: column;
    width: auto;
    height: auto;
  }
}