.garden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flower-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    border: solid black 1px;
}

.flower-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}

.image-small {
    width: 100px;
    padding-right: 10px;
}

.flower-tracker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
}